{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}
<center><H1> &nbsp;&nbsp;&nbsp; Connexion</H1></center>
<br>
<br>
<br>
<form action="welcome.php" method="post">
<center>

 &nbsp;&nbsp;&nbsp; E-mail : &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <input type="text" name="email"><br><br>

Mot de passe : <input type="password" name="mot de passe"><br><br>
</center>
</form>
<center> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<a href =""><button class="BoutonInscription"> Envoyer</button></a>&nbsp;&nbsp;&nbsp;
<a href="index"><button>Retour</button></a></center>
{% endblock %}