{% extends 'base.html.twig' %}

{% block title %}Thales Apiculture{% endblock %}

{% block body %}
<center><h1>Bienvenue</h1></center>
<br>

<br>
<img src="ruche.jpg">
<br>

<a class="link" href="carte">Voir la carte</a>




{% endblock %}