²{% extends 'base.html.twig' %}

{% block title %}Thales Apiculture{% endblock %}

{% block body %}
<center><h1>Bienvenue</h1></center>
<br>

<br>
<img src="{{ asset('ruche.jpg') }}">
<br>

<a class="link" href="{{ path('carte') }}">Voir la carte</a>




{% endblock %}