{% extends 'base.html.twig' %}
{% block title %}Erreur{% endblock %}
{% block body %}
<meta charset="UTF-8">
<br>

<center><img src="{{ asset('stop.jpg') }}" alt="Stop"><br><br><br>
<h3>Erreur 403 - Vous n'avez pas l'autorisation de consulter cette page !</h3>
<a href="{{ path('home') }}">Cliquez ici pour retourner à l'accueil</a></center>
	
{% endblock %}