{% extends 'base.html.twig' %}
{% block title %}Erreur{% endblock %}
{% block body %}
<meta charset="UTF-8">
<br>

<center><img src="{{ asset('stop.jpg') }}" alt="Stop"><br><br><br>
<h2>{% trans %}Erreur 403{% endtrans %}</h2>
<h3>{% trans %}Bzzz, vous n'avez pas l'autorisation de consulter cette page !{% endtrans %}</h3>
<a href="{{ path('home') }}">{% trans %}Cliquez ici pour retourner à l'accueil{% endtrans %}</a></center>

	
{% endblock %}