{% extends 'base.html.twig' %}
{% block title %}{% trans %}Erreur{% endtrans %}{% endblock %}
{% block body %}
<meta charset="UTF-8">
<br>

<center><img src="{{ asset('stop.jpg') }}" alt="Stop"><br><br><br>
<h2>{% trans %}Erreur{% endtrans %}</h2>
<h3>{% trans %}Bzzz, votre compte n'a pas encore été approuvé par un administrateur.{% endtrans %}</h3>

	
{% endblock %}