{% extends 'base.html.twig' %}
{% block title %}Erreur{% endblock %}
{% block body %}
<meta charset="UTF-8">
<br>

<center><img src="{{ asset('stop.jpg') }}" alt="Stop"><br><br><br>
<h2>{% trans %}Erreur 403{% endtrans %}</h2>
<h3>{% trans %}Bzzz, vous devez choisir une adresse valide !{% endtrans %}</h3>
<h4>{% trans %}L'emplacement doit être en France, et sur une adresse. (Pas de forêt, parc...){% endtrans %}</h4>
<a href="{{ path('googleMap') }}">{% trans %}Cliquez ici pour retourner à la carte{% endtrans %}</a></center>

	
{% endblock %}