{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <H1>Connexion !</H1>

    <form  action="{{ path('security_login')}}" method="post">

        <div class="form-group">
            <input placeholder="Mail..." required name="_username" type="text" class="form-control">
        </div>

        <div class="form-group">
            <input placeholder="Mot de passe..." required name="_password" type="password" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Log In</button>
        </div>

    </form>

{% endblock %}