{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<meta charset="UTF-8">

	<br>
	<center><h1>Mot de passe oublié</h1></center>
	<div class="col-12 form-input">
	    {{ form(mailForm) }}
	</div>

{% endblock %}