{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block body %}
	<br>
	<center><h1>Entrer le nouveau mot de passe</h1></center><br>
	<center><form method="post">
		<label for="pass">Nouveau mot de passe</label>
		<input type="password" name="password" id="pass">
		<input type="hidden" name="token" value="{{ token }}">
		<button>Valider</button>
	</form></center>

{% endblock %}