{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block body %}

	<h1>Entrer le nouveau mot de passe</h1>
	<form method="post">
		<label for="pass">Mot de passe</label>
		<input type="password" name="password" id="pass">
		<input type="hidden" name="token" value="{{ token }}">
		<button>Valider</button>
	</form>

{% endblock %}