{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

<meta charset="UTF-8">

<center><h1>Inscription</h1></center>

<center>{{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    
    <button type="submit" class="btn btn-primary">Valider</button></center>
    
{{ form_end(registrationForm) }}


{%  endblock %}