{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
<center><h1>Inscription</h1></center>
<br>
	<div class="d-flex justify-content-around">
		<div class="droite">
		{{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-primary">Valider</button>
        </div>
   </div>
{{ form_end(registrationForm) }}


{%  endblock %}