{% extends 'map/map.html.twig' %}
{% block title %}Bretagne{% endblock %}
{% block tableau_donnees %}
<div id ="block2" class="col-md-3">
<table border bgcolor="white">
	<tr>
		<td>pas</td>
		<td>tient</td>
	</tr>
	<tr>
		<td>tient</td>
		<td>pas</td>
		<td>te</td>
	</tr>   
</table>
</div>
{% endblock %}