<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  {% block body %}
    <div id="map"></div>
    <script>

      function initMap() {
        var thalesLatLng = {lat: 43.564693450927734, lng: 1.3840949535369873};
        var centreLatLng = {lat: 47.081939697265625, lng: 2.395517110824585};
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: centreLatLng
        });
        
      	{% for rucher in ruchers %}
	        var rucherLatLng = {lat: {{ rucher.latitude }}, lng: {{ rucher.longitude }}};
	
	        var marker = new google.maps.Marker({
	          position: rucherLatLng,
	          map: map,
	          title: '{{ rucher.nom }}'
	        });
        {% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5XVy1MyiVkAVOX_DbdOEuTWobpiQzgM8&callback=initMap">
    </script>
    {% endblock %}
  </body>
</html>