{% extends 'base.html.twig' %}
{% block body %}
<center><h3>La ruche {{ nomruche }} qui appartient &agrave; {{ proprietaire }} install&eacute; le : {{ dateinstall|date("m/d/Y") }}</h3></center>
{% endblock %}