{% extends 'base.html.twig' %}
{% block title %}Carte{% endblock %}
{% block body %}

<meta charset="UTF-8">
        	<center><h1>Carte de France interactive des régions</h1>
        	<img src="carte-france-regions.png" alt="Les régions de France" usemap="#reg">
            <map name="reg">
            	<area
            		shape="poly"
            		coords="108,208 , 98,203 , 88,196 , 84,200 , 70,188 , 52,183 , 45,186 , 37,174 , 48,172 , 43,164 , 54,165 , 48,157 
            		, 35,159 , 36,150 , 58,145 , 72,147 , 76,141 , 89,142 , 100,157 , 111,152 , 123,156 , 126,150 , 129,155 , 137,154 
            		, 142,162 , 148,158 , 152,160 , 151,183 , 145,195 , 139,191 , 132,197 , 122,197 , 117,200,116,205"
            		href="/tableau_donnees/Bretagne"
	        		alt="Bretagne">
            		
            	
            		
            </map><br></br>
            
                <a href = "/add" target="_blank"><button>Ajouter Ruche</button></a>
                <a href = "#"><button>Modifier Ruche</button></a>
                <a href = "#"><button>Supprimer Ruche</button></a>
            </center>
        </div>	
	{% block tableau_donnees %}{% endblock %}
	</div>
</div>

{% endblock %}