{% extends 'map/map.html.twig' %}
{% block title %}Occitanie{% endblock %}
{% block tableau_donnees %}
<div id ="block2" class="col-lg-6">
    <center>
        <h1>Les ruches pr&eacute;sentes en Occitanie</h1>
        <br></br>
        <table border bgcolor="white" cellpadding="5px">
        	<tr bgcolor="gray">
        		<td>Nom de la ruche</td>
        		<td>Propri&eacute;taire</td>
        		<td>Email</td>
        		<td>Ville</td>
        		<td>Autre</td>
        	</tr>
        	<tr>
        		<td>RucheOccitanie</td>
        		<td>Jean-Pierre</td>
        		<td>jean-pierre@gmail.com</td>
        		<td>Occitanie</td>
        	</tr>   
        </table>
        <br></br>
    </center>
</div>
{% endblock %}