{% extends 'base.html.twig' %}
{% block title %}Crédits{% endblock %}
{% block body %}
<meta charset="UTF-8">
<br>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<center><h2> Notre entreprise </h2><br><br>
<a href = "https://www.thalesgroup.com/en"><img src="{{ asset('Thales.png') }}" alt="Thales"></a><br><br><br>
<h2> Les développeurs du site </h2><br><br>
<a href = "https://bourdelle.mon-ent-occitanie.fr"><img src="{{ asset('bourdelle.png') }}" alt="Lycée Bourdelle"></a><br><br>
<h4>Étudiants</h4>
<div class="container">
    <div class="row">
	    <div class="block1"><div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="fr_FR" data-type="horizontal" data-theme="dark" data-vanity="sylvain-lespagnol-b32047187" style="width:20%;"><a class="LI-simple-link" href='https://fr.linkedin.com/in/sylvain-lespagnol-b32047187?trk=profile-badge'>Sylvain Lespagnol</a></div>
		</div>
		<div class="block2"><div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="fr_FR" data-type="horizontal" data-theme="dark" data-vanity="clarakarachira" style="width:20%;"><a class="LI-simple-link" href='https://www.linkedin.com/in/clarakarachira?trk=profile-badge'>Clara Karachira</a></div>
		</div>
		<div class="block3"><div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="fr_FR" data-type="horizontal" data-theme="dark" data-vanity="clément-esquirol-9b05a3183" style="width:20%;"><a class="LI-simple-link" href='https://www.linkedin.com/in/clément-esquirol-9b05a3183?trk=profile-badge'>Clément Esquirol</a></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="block1"><div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="fr_FR" data-type="horizontal" data-theme="dark" data-vanity="antoine-bouis-7a5b651ab" style="width:20%; float:right;"><a class="LI-simple-link" href='https://www.linkedin.com/in/antoine-bouis-7a5b651ab?trk=profile-badge'>Antoine Bouis</a></div>
		</div>
		<div class="block2"><div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="fr_FR" data-type="horizontal" data-theme="dark" data-vanity="elyott-djafour-martin-10b933168" style="width:20%; float:right;"><a class="LI-simple-link" href='https://www.linkedin.com/in/elyott-djafour-martin-10b933168?trk=profile-badge'>Elyott DJAFOUR-MARTIN</a></div>
		</div>
	</div>
</div>

<h4>Professeurs encadrants</h4>
<div class="container">
    <div class="row">
    	<div class="block1" style="width:25%;"><h6>Joël Mauquie</h6></div>
    	<div class="block2" style="width:25%;"><h6>Thierry Boyer</h6></div>
    	<div class="block3" style="width:25%;"><h6>Vincent Haas</h6></div>
    	<div class="block4" style="width:25%;"><h6>Sébastien Bord</h6></div>
	</div>
</div>
</center>
{% endblock %}