{% extends 'base.html.twig' %}
{% block title %}Crédits{% endblock %}
{% block body %}
<meta charset="UTF-8">
<br>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<center><h2> Notre entreprise </h2><br><br>
<a href = "https://www.thalesgroup.com/en"><img src="{{ asset('Thales.png') }}" alt="Thales"></a><br><br><br>
<h2> Les développeurs du site </h2><br><br>
<a href = "https://bourdelle.mon-ent-occitanie.fr"><img src="{{ asset('bourdelle.png') }}" alt="Lycée Bourdelle"></a><br><br>
<h3>BTS SNIR promo IV - 2018/2020</h3><br>
<h4>Étudiants</h4><br>
<div class="container">
    <div class="row">
	    <div class="block1" style="width:20%;"><a href="https://www.linkedin.com/in/sylvain-lespagnol-b32047187/" style="color:black"><h5>Sylvain Lespagnol</h5></a></div>
		<div class="block2" style="width:20%;"><a href="https://www.linkedin.com/in/clarakarachira/" style="color:black"><h5>Clara Karachira</h5></a></div>
		<div class="block3" style="width:20%;"><a href="https://www.linkedin.com/in/clément-esquirol-9b05a3183/" style="color:black"><h5>Clément Esquirol</h5></a></div>
		<div class="block4" style="width:20%;"><a href="https://www.linkedin.com/in/antoine-bouis-59992759/" style="color:black"><h5>Antoine Bouis</h5></a></div>
		<div class="block5" style="width:20%;"><a href="https://www.linkedin.com/in/elyott-djafour-martin-10b933168/" style="color:black"><h5>Elyott Djafour-Martin</h5></a></div>
	</div>
</div>
<br><br>
<h4>Professeurs encadrants</h4><br>
<div class="container">
    <div class="row">
    	<div class="block1" style="width:25%;"><a href="http://www.ailipse-technique.fr/selAT/public/index.php" style="color:black"><h6>Joël Mauquie</h6></a></div>
    	<div class="block2" style="width:25%;"><h6>Thierry Boyer</h6></div>
    	<div class="block3" style="width:25%;"><h6>Vincent Haas</h6></div>
    	<div class="block4" style="width:25%;"><h6>Sébastien Bord</h6></div>
	</div>
</div>
<br>
</center>
{% endblock %}