{% extends 'base.html.twig' %}
{% block body %}
<!-- for HTML5 -->
<meta charset="UTF-8">
<center><h3>{% trans %}Les données de la station {% endtrans %} {{ nomstation }} {% trans %} qui est associée au rucher {% endtrans %} {{ rucher }} </h3>
<br></br>
<figure class="highcharts-figure">
  <div id="chart" style="width:80%; max-height:80%; height:70%;"></div>
  </figure>	

<script type="text/javascript">
    $(document).ready(function() {
    	var url ='{{ path('mesures_station_diagramme',{nomstation : nomstation,nomstation2:'NULL'})}}';
        var options = {
            chart: {
                renderTo: 'chart',
                type: 'line'
            },
            title: {
              text: 'Les mesures de la station {{nomstation}}'
            },
            series: []
        };
        //$.getJSON('data.json', function(list) {
        $.getJSON(url, function(data) {
            options.series = data; // <- just assign the data to the series property.
            var chart = new Highcharts.StockChart(options);
        }); 
    });
</script>
</center>
{% endblock %}